# 2024 Olymptic Medelist Dataset

In [46]:
import pandas as pd
data=pd.read_csv("medallists.csv")
data.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
2,2024-07-27,Bronze Medal,3.0,van AERT Wout,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True

In [47]:
data.columns

Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender',
       'country_code', 'country', 'country_long', 'nationality_code',
       'nationality', 'nationality_long', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code_athlete',
       'code_team', 'is_medallist'],
      dtype='object')

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [49]:
# Your code here
data["country"].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'Korea', 'Tunisia', 'Hong Kong, China', 'France', 'Hungary',
       'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden', 'Germany',
       'Canada', 'Poland', 'Egypt', 'Brazil', 'Republic of Moldova',
       'Uzbekistan', 'Kosovo', 'China', 'India', 'Slovakia',
       'South Africa', 'Ukraine', 'Azerbaijan', 'Croatia', 'Switzerland',
       'Romania', 'Ireland', 'Georgia', 'Tajikistan', 'Slovenia',
       'Mexico', 'Guatemala', 'Argentina', 'Greece', 'Austria',
       'Netherlands', 'New Zealand', 'Ecuador', 'Israel', 'Portugal',
       'Uganda', 'Ethiopia', 'AIN', 'Philippines', 'Norway', 'Grenada',
       'Jamaica', 'Saint Lucia', 'Dominica', 'Chinese Taipei',
       'Lithuania', 'Armenia', 'Algeria', 'Indonesia',
       'Dominican Republic', 'Cabo Verde', 'Cuba', 'DPR Korea', 'Chile',
       'Serbia', 'Colombia', 'Kenya', 'Denmark', 'Thailand', 'Malaysia',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'TÃ¼rkiye', 'Morocco', 'Zambia',
       'Cyprus', 'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR',
       'Jordan', 'Czechia', 'Singapore', 'Qatar', 'Puerto Rico', 'Panama',
       "CÃ´te d'Ivoire", 'Albania', 'Fiji'], dtype=object)

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [51]:
# Your code here
data['event'].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [53]:
# Your code here
data['gender'].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [55]:
# Your code here
len(data[(data.country_code=="BEL")])

10

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [87]:
# Your code here
golds=data[(data.medal_type=="Gold Medal")]

In [89]:
golds.head()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
3,2024-07-27,Gold Medal,1.0,BROWN Grace,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173,NaN,True
6,2024-07-27,Gold Medal,1.0,OH Sanguk,Male,KOR,Korea,Republic of Korea,KOR,Korea,...,NaN,NaN,Fencing,Men's Sabre Individual,HATH,/en/paris-2024/results/fencing/men-s-sabre-ind...,1996-09-30,1927149,NaN,True
9,2024-07-27,Gold Medal,1.0,KONG Man Wai Vivian,Female,HKG,"Hong Kong, China","Hong Kong, China",HKG,"Hong Kong, China",...,NaN,NaN,Fencing,Women's Ã‰pÃ©e Individual,HATH,/en/paris-2024/results/fencing/women-s-epee-in...,1994-02-08,1963262,NaN,True
12,2024-07-27,Gold Medal,1.0,SMETOV Yeldos,Male,KAZ,Kazakhstan,Kazakhstan,KAZ,Kazakhstan,...,NaN,NaN,Judo,Men -60 kg,HATH,/en/paris-2024/results/judo/men--60-kg/fnl-000...,1992-09-09,1935408,NaN,True

In [91]:
golds['birth_date']=pd.to_datetime(golds['birth_date'],format="mixed")
golds['medal_date']=pd.to_datetime(golds['medal_date'],format="mixed")

C:\Users\lucil\AppData\Local\Temp\ipykernel_16080\2248241628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golds['birth_date']=pd.to_datetime(golds['birth_date'],format="mixed")
C:\Users\lucil\AppData\Local\Temp\ipykernel_16080\2248241628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golds['medal_date']=pd.to_datetime(golds['medal_date'],format="mixed")

In [99]:
Ages=(golds['medal_date'].dt.year-golds['birth_date'].dt.year)

In [101]:
Ages.mean()

26.993351063829788

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [61]:
# Your code here
data[(data.medal_type=="Silver Medal") & (data.discipline=="Cycling Road")]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,...,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True
4,2024-07-27,Silver Medal,2.0,HENDERSON Anna,Female,GBR,Great Britain,Great Britain,GBR,Great Britain,...,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525,NaN,True
267,2024-08-03,Silver Medal,2.0,MADOUAS Valentin,Male,FRA,France,France,FRA,France,...,NaN,NaN,Cycling Road,Men's Road Race,ATH,/en/paris-2024/results/cycling-road/men-s-road...,1996-07-12,1895699,NaN,True
336,2024-08-04,Silver Medal,2.0,VOS Marianne,Female,NED,Netherlands,Netherlands,NED,Netherlands,...,NaN,NaN,Cycling Road,Women's Road Race,ATH,/en/paris-2024/results/cycling-road/women-s-ro...,1987-05-13,1969165,NaN,True

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [121]:
# Your code here
FAthletes=data[(data.gender=="Female")]
len(FAthletes["event"].unique())

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [65]:
# Your code here
Golds=data[(data.medal_type=="Gold Medal")]
Golds['country'].value_counts().idxmax()

'United States'

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [123]:
# Your code here
MAthletes=data[(data.gender=="Male")]
MAthletes["discipline"].value_counts().head(3)

discipline
Athletics    113
Swimming     107
Rowing        72
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [131]:
# Your code here
data['age']=(data['medal_date'].dt.year-data['birth_date'].dt.year)

In [133]:
data[data['age'] == data['age'].min()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
432,2024-08-06,Gold Medal,1.0,TREW Arisa,Female,AUS,Australia,Australia,AUS,Australia,...,NaN,Skateboarding,Women's Park,ATH,/en/paris-2024/results/skateboarding/women-s-p...,2010-05-12,1946064,NaN,True,14

In [135]:
data[data['age'] == data['age'].max()]

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist,age
1126,2024-08-02,Silver Medal,2.0,KRAUT Laura,Female,USA,United States,United States of America,USA,United States,...,O,Equestrian,Jumping Team,TEAM,/en/paris-2024/results/equestrian/jumping-team...,1965-11-14,1951840,EQUOJUMPTEAMUSA01,True,59